<div class="project" layout="column" layout-fill>
    <div class="project__header" layout="row">
        <img src="/images/{{ctrl.project.icon}}" width="32" height="32" alt="{{ctrl.project.name}} icon">
        <h1 class="project__header__title">{{ctrl.project.name}}</h1>
    </div>
    <md-list>
        <md-list-item ng-repeat="todoItem in ctrl.items" ng-click="null">
            <todo-item item="todoItem" project-name="ctrl.project.name" on-remove="ctrl.removeItem(item)"></todo-item>
        </md-list-item>
    </md-list>
</div>