@import "../scss/variables";
@import "../scss/mixins";

.todo-item {
  display: flex;

  &__checkbox {
    padding-left: 5px;
    margin: 5px 0 0 0;
  }

  &__content {
    @include flex-column;
    justify-content: center;

    &__header {
      @include item-content-section($font-size: 15px, $height: 30px);
    }

    &__notes {
      @include item-content-section(15px, $notes-color, 30px);
    }
  }

  &__additional {
    font-size: 15px;
    padding-top: 10px;
    display: flex;
    align-items: center;

    &__project {
      @include item-additional-section(15px, $project-name-color);
    }

    &__deadline {
      @include item-additional-section(10px, $deadline-color);

      &__red {
        color: $deadline-today-color;
      }
    }
  }
}