#login-state {
    margin-top: 110px;
}

#login-logo {
    margin-top: 25px;
}

#login-logo > img {
    padding-top: 8px;
    padding-right: 5px;
}

#login-container {

}

#login-form {
    font-size: 1.2em;
    width: 305px;
}

.input-container {
    margin-bottom: 8px;
}