@import "../scss/mixins";

.projects-sidenav {
  width: 220px;

  &__project-item span {
    font-size: 1.2em;
    padding-left: 10px;
  }
}

.tasks-container {
  @include flex-column;

  &__logout-button {
    display: flex;
    justify-content: flex-end;
  }

  &__add-item-button {
    display: flex;
    justify-content: flex-end;
  }
}