<div layout="column" layout-fill>
    <div class="container" layout="row" flex>
        <md-sidenav id="projects-sidenav" md-is-locked-open="true" class="md-whiteframe-4dp">
            <md-list>
                <md-list-item class="project-item" ng-repeat="project in $ctrl.projects"
                              ui-sref="main.projectItems({project: project})">
                    <img ng-src="/images/{{project.icon}}" width="32" height="32" alt="{{project.name}}">
                    <span>{{project.name}}</span>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content flex>
            <div class="logout-button">
                <md-button class="md-raised md-warn" ng-click="$ctrl.logOut()">Log out</md-button>
            </div>
            <ui-view></ui-view>
        </md-content>
    </div>
</div>