<div layout="column" layout-fill>
    <div class="container" layout="row" flex>
        <md-sidenav class="projects-sidenav md-whiteframe-4dp" md-is-locked-open="true">
            <md-list>
                <md-list-item class="projects-sidenav__project-item" ng-repeat="project in $ctrl.projects"
                              ui-sref="main.projectItems({project: project})">
                    <img ng-src="/images/{{project.icon}}" width="32" height="32" alt="{{project.name}}">
                    <span>{{project.name}}</span>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content flex class="tasks-container">
            <div class="tasks-container__logout-button">
                <md-button class="md-raised md-primary" ng-click="$ctrl.logOut()">Log out</md-button>
            </div>
            <ui-view></ui-view>
        </md-content>
    </div>
</div>