#login-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-logo {
    margin-top: 25px;
}

#login-logo > img {
    padding-top: 8px;
    padding-right: 5px;
}

#login-form {
    font-size: 1.2em;
    width: 305px;
}

.input-container {
    margin-bottom: 8px;
}

.logout-button {
    display: flex;
    justify-content: flex-end;
}

#projects-sidenav {
    width: 220px;
}

.project-header {
    margin: 5px 10px;
    display: flex;
    align-items: center;
}

.project-title {
    padding-left: 8px;
}

.project-item span {
    font-size: 1.2em;
    padding-left: 10px;
}

.todo-item {
    display: flex;
}

.todo-item-checkbox {
    padding-left: 5px;
    margin: 5px 0 0 0;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-header {
    font-size: 15px;
    height: 30px;
    overflow: hidden;
}

.item-notes {
    font-size: 13px;
    color: silver;
    height: 28px;
    overflow: hidden;
}

.project-name {
    padding-left: 15px;
    padding-top: 10px;
    color: #2295F2;
    font-size: 15px;
}

.item-deadline {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
    color: gray;
}

.red-deadline {
    color: red;
}

.item-additional {
    display: flex;
    align-items: center;
}