#login-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-logo {
    margin-top: 25px;
}

#login-logo > img {
    padding-top: 8px;
    padding-right: 5px;
}

#login-form {
    font-size: 1.2em;
    width: 305px;
}

.input-container {
    margin-bottom: 8px;
}

.logout-button {
    float: right;
}

#projects-sidenav {
    width: 220px;
}

.project-item span {
    font-size: 1.2em;
    padding-left: 10px;
}

.todo-item {
    display: flex;
}

.todo-item-checkbox {
    padding-left: 5px;
    margin: 5px 0 0 0;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-header {
    font-size: 17px;
    height: 28px;
}

.header-without-notes {
    padding-top: 10px;
}

.item-notes {
    font-size: 13px;
    color: silver;
    height: 28px;
}